<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
    <link rel="stylesheet" href="../css/update.css">
</head>
<body>
    <button onclick="hideShow()">Hide/Show</button>
    
    <form action="#" id="new" class="new">
        <div class="form--info">
            <label>Update Email</label><br><br>
            <input type="text" placeholder="Update Email">
        </div>   
        <div class="form--info">
            <label>Previous Password</label><br><br>
            <input type="text" placeholder="Enter Old Password">
        </div>   
        <div class="form--info">
            <label>New Password</label><br><br>
            <input type="text" placeholder="Enter New Password">
        </div>   
        <div class="form--info">
            <label>Confirm Password</label><br><br>
            <input type="text" placeholder="Confirm New Password">
        </div>
        <div class="form--info">
            <button type="submit">Update Profile</button>
        </div>
    </form>
    
    <script src="../js/update.js"></script>
</body>
</html>