<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
    <link rel="stylesheet" href="css/upimage.css">
</head>
<body>
    <div class="hero">
        <div class="card">
            <h1>Alazar Adane</h1>
            <p>@Astropia369</p>
            <img src="./images/admin_2.jpg" alt="profile" id="profile-pic">
            <label for="input-file">Update Image</label>
            <input type="file" accept="images/jpeg, images/png, image/jpg" id="input-file">
        </div>
    </div>

    <script>
        let profilePic = document.getElementById('profile-pic');
        let inputFile = document.getElementById('input-file');
        inputFile.onchange = function(){
            profilePic.src = URL.createObjectURL(inputFile.files[0])
        }
    </script>
    
</body>
</html>